.login-container {
    height: 100vh;
    background-color: rgb(121, 121, 220);
    background-size: cover;
  }
  
  .login-box {
    width: 350px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  